@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

.right {
	float: right;
}

.section-name {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 3em;
	line-height: 1.15em;
}

.section-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px solid black;
	padding: 0.5em 0.75em;
	display: inline-block;
}

.section-subheading {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	margin-top: 3em !important;
}

.top-section {
	border-bottom: 2px solid black;
	padding-bottom: 2em;
}

.bottom-section {
	padding: 2em 1em;
	padding-right: 3em;
}

.right-section {
	min-height: 100vh;
	border-left: 2px solid black;
	padding: 0em 2em;
	padding-bottom: 2.25em;
}

.date {
	font-size: 0.8em;
	font-weight: 400;
}

.sub-info {
	font-family: 'EB Garamond', serif;
	font-style: italic;
	font-size: 1.10em;
}

.head-info {
	text-transform: uppercase;
	font-weight: 700;
}

.info {
	font-size: 0.9em;
	text-align: justify;
}

.section {
	padding: 0.5em 0em;
}

.experience-section {
	padding: 0;
	padding-left: 2em;
	margin:  1.5em 0em;
	border-left:  2px solid black;
}