@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

.container {
	max-width: 1920px;
}

div.left-container {
	float:  left;
	padding: 3em 0em 0em 3em;
}

aside {
	float:  right;
	padding: 3em 3em 3em 2em;
	min-height: 100vh;
	border-left: 2px solid black;
}

ul {
	margin-left: 1em;
}

.right {
	float: right;
}

.section-tag {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	border: 2px solid black;
	padding: 0.5em 0.75em;
	display: inline-block;
}


/* Section Heading */

.section-header {
	border-bottom: 2px solid black;
	padding-bottom: 2em;
}

.section-header h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 3em;
	line-height: 1.15em;
}

.section-tag {
	margin-bottom: 2em;
}


/* Section Body & Section Summary */
.section-body {
	padding: 2em 1em;
	padding-right: 3em;
}

.section-body h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
}

.section-summary {
	padding: 0;
	padding-left: 2em;
	margin:  1.5em 0em;
	border-left:  2px solid black;
}

.section-summary h3 {
	text-transform: uppercase;
	font-weight: 700;
}

.section-summary h4 {
	margin-bottom: 5px;
}


/* Side Container */
.contact {
	margin-bottom: 2em;
}

.section-side-summary {
	padding: 0;
	margin-bottom: 2em;
}

.section-side-summary h3 {
	text-transform: uppercase;
	font-weight: 700;
}

.section-side-summary h4 {
	margin-bottom: 5px;
}

.section-side-summary ul.list-none {
	padding: 0;
	margin-left: 0;
}


@media screen and (max-width: 1024px) {
  	div.left-container, aside {
		border:  none;
	}

	div.left-container {
		padding: 2em;
	}

	aside {
		padding: 0em 2em 2em 2em;
	}

	.section-summary {
		padding: 0;
		margin:  1.5em 0em;
		border:  none;
	}

	.section-header h1 {
		font-size: 2.5em;
	}

	.section-body {
		padding: 2em 0em 0em 0em;
	}

	.section-body h1 {
		margin: 1em 0em;
		font-family: 'Poppins', sans-serif;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
		border: 2px solid black;
		padding: 0.5em 0.75em;
		display: inline-block;
	}

	.section-summary h3, .section-summary h4, .right {
		overflow-wrap: break-word;
		inline-size: 250px;
	}
}